.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 850px) {
  .profile__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 675px) {
  .profile__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 475px) {
  .profile__subtitle {
    font-size: 14px;
    text-align: center;
  }
}
