.profile {
  margin: 40px 15.6% 0;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1100) {
  .profile {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 400px) {
  .profile {
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 38px;
  }
}
