.profile__modify-button {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  all: unset;
}

.profile__modify-button:hover {
  width: 120px;
  height: 120px;
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/modify.svg);
  z-index: 1;

  background-position: center;
  background-repeat: no-repeat;
}
