.profile__edit-button {
  background: url(../../../images/Edit_Button.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  border: none;
  transition: 1s;
  padding: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 670px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
