@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__modify/profile__modify.css);
@import url(../blocks/profile/__modify-button/profile__modify-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/element/__delete/_visible/element__delete_visible.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__group/element__group.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__number-like/element__number-like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popap__container.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__handlers/popup__handlers.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/_inactive/popup__button_inactive.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/edit-profile/__container/edit-profile__container.css);
@import url(../blocks/place/__container/place__container.css);
@import url(../blocks/image/__container/image__container.css);
@import url(../blocks/image/__place/image__place.css);
@import url(../blocks/image/__src/image__src.css);
@import url(../blocks/image/__close/image__close.css);
@import url(../blocks/avatar/__container/avatar__container.css);
@import url(../blocks/avatar/__heading/avatar__heading.css);
