.popup__close {
  position: fixed;
  top: -12%;
  right: -8%;
  transition: 1s;
  background: url(../../../images/Close_Icon.svg);
  background-size: cover;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 400px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
