.popup__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  max-height: 330px;
  background: #fff;
  border-radius: 10px;
  color: #000;
  z-index: 4;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .popup__container {
    width: 90%;
    max-height: 322px;
  }
}

@media (max-width: 500px) {
  .popup__container {
    width: 75%;
  }
}

@media (max-width: 400px) {
  .popup__container {
    width: 282px;
  }
}
