.header {
  margin: 0 15.6% 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 1024px) {
  .header {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 400px) {
  .header {
    margin-left: 0;
    margin-right: 0;
  }
}
